@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap");

:root {
  --blue: #2575fc;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: url('/bg.png') fixed no-repeat, #111 url('/ny_bg.png') fixed; */
  background: #1a1a1a url("/bg.png") fixed no-repeat;
  font-family: "Comfortaa", sans-serif;
  color: #fff;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
  max-width: 1200px;
}

header {
  padding: 10px 0;
}

header .container,
.logo {
  display: flex;
  align-items: center;
}

header nav {
  margin-left: auto;
}

header nav a {
  color: #fff;
}

header nav a:hover {
  color: var(--blue);
}

header nav a:not(:last-child) {
  margin-right: 8px;
}

header .logo {
  font-size: 22px;
}

header .logo img {
  height: 50px;
  margin-right: 10px;
  filter: contrast(0) brightness(2);
}

h1,
h2 {
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin: 4rem 0 0;
}

h2 {
  font-size: 3rem;
  margin: 1rem 0 3rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(50% - 2rem);
  padding: 20px;
  margin: 1rem auto;
  border-radius: 8px;
}

.project img {
  margin: auto;
  display: block;
  max-width: 100%;
  border-radius: 8px;
}

.project .info {
  margin-top: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.project .title {
  font-size: 28px;
}

.project p {
  font-size: 14px;
  line-height: 1.2rem;
}

@media (max-width: 767px) {
  .project {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
}
